html {
  background-color: #000000;
}

header {
  color: #B5B5B5;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 60px;
  margin-left: 20px;
}

#menu {
  float: left;
  margin: 20px;
  width: 206px;
  color: #B5B5B5;
  font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
  font-size: 16px;
  font-weight: 900;
}

#menu div {
  border: 3px double #B3B3B3;
  cursor: default;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  width: 200px;
}

#menu div p {
  margin: 17px 0 17px 0;
}

#uploadbutton input {
  display: none;
}

#statusmessage {
  height: 17px;
  margin: -22px 0 5px 0;
  width: 1000px;
}

#nodes {
  float: left;
  width: 1020px;
}

.row {
  clear: right;
}

.node {
  background-color: #000000;
  border: 3px double #B3B3B3;
  display: inline-table;
  height: 192px;
  margin: 20px;
  width: 206px;
}

.node textarea {
  background-color: #000000;
  border: none;
  border-right: 3px double #B3B3B3;
  color: #B5B5B5;
  font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
  font-size: 13px;
  font-weight: 900;
  height: 192px;
  line-height: 0.98em;
  margin: 0 0 -4px 2px;
  outline: none;
  overflow: auto;
  padding: 0;
  resize: none;
  text-transform: uppercase;
  width: 155px;
}

.sidecolumn {
  float: right;
  height: 192px;
  width: 46px;
}

.sidecell {
  color: #B5B5B5;
  cursor: default;
  font-family: "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
  font-size: 13px;
  font-weight: 900;
  height: 46px;
  text-align: center;
  width: 46px;
}

.sidecell:not(.bottom) {
  border-bottom: 3px double #B3B3B3;
}

.sidecell p {
  margin: 0;
  padding-top: 8px;
}

.execnode .sidecolumn .exec {
  background-color: #B3B3B3;
  color: #000000;
}

.stcknode .sidecolumn .stck {
  background-color: #B3B3B3;
  color: #000000;
}

.stcknode textarea {
  text-align: center;
}

.errnode {
  border: 3px solid #A40D0D;
}

.errnode textarea {
  border-right: 3px solid #A40D0D;
  color: #A40D0D;
  text-align: center;
}

.errnode .sidecolumn .sidecell {
  color: #A40D0D;
}

.errnode .sidecolumn .sidecell:not(.bottom) {
  border-bottom: 3px solid #A40D0D;
}

.errnode .sidecolumn .err {
  background-color: #A40D0D;
  color: #000000;
}

footer {
  color: white;
  float: left;
  font-size: 12px;
}