{% extends "layout.html" %}
{% block app %} ng-app="main"  resize {% endblock %}
{% block title %}Pad{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='controller/ProblemsController.js') }}"></script>

{% endblock %}
{% block content %}
  {{super()}}
  <div class="" ng-controller="ProblemsController"  ng-init="getPage(1)">

    <div class="tis-list-container problems-list">
          <a ng-repeat="problem in problems" class="hover" ng-href="/problem/p/{{'{{problem.identifier}}'}}">
            <td>
                <div class="game-title" >
                  <h3>{{'{{problem.name}}'}}</h3>
                </div>
                {{'{{problem.description}}'}}
                <div ng-if="problem.description == null">None</div>
            </td>
          </a>
    </div>
    <div>

    <pagination ng-model="currentPage" ng-change="getPage(currentPage)"  total-items="{{total}}"   ></pagination>

    </div>

    </div>
  </div>
{% endblock %}