{% extends "layout.html" %}
{% block app %} ng-app="main"  resize {% endblock %}
{% block title %}Pad{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='controller/ProblemsController.js') }}"></script>

{% endblock %}
{% block content %}
  {{super()}}
  <div class="" ng-controller="ProblemsController"  ng-init="page = {{ page }};init()">
    <div class="container problems-list">
      

    <table class="table problems">
      <tr>
        <td >Votes</td>
        <td></td>
      </tr>
      {% for item in items %}
            <tr class="hover" >
              <td >123</td>
              <td>
                  <div class="game-title" >
                    <h3>{{item.name}}</h3>
                  </div>
                  is simply dummy text of the printing and typesetting in, but also the
              </td>
            </tr>
      {% endfor %}
    </table>

    </div>
  </div>
{% endblock %}