{% extends "layout.html" %}
{% block app %} ng-app="main"  resize {% endblock %}
{% block title %}Pad{% endblock %}
{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='controller/ProblemController.js') }}"></script>

{% endblock %}
{% block content %}
  {{super()}}

  <div ng-controller="ProblemController">
      <div class="game-title"><h3>{{problem.name}}</h3>{{problem.identifier}}</div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">100/100/100</div>
        <div class="col-xs-8">.col-md-8</div>
      </div>
    </div>
  </div>
{% endblock %}