

.node>div{
	background: black;
	min-height: 200px;
	padding: 0px;
}

.sidecell {
  color: #B5B5B5;
  cursor: default;
  font-family: "Fixedsys", "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
  font-size: 13px;
  text-align: center;
}

.sidecell:not(.bottom) {
  border-bottom: 3px double #B3B3B3;
}

.sidecell p {
  margin: 0;
  padding-top: 8px;
}
.pad{
	width: 700px;
}