
@font-face {
  font-family: "Fixedsys";
  src: url("/static/assets/Fixedsys500c.woff");
}

body{
  background: black;
  color: #8A8A8A;
}

@node-bottom-padding : 20px;

.node-container{
  margin: 15px;
}

.node .node-block{
  padding: 0px;
}

.node-row{
    margin-bottom: @node-bottom-padding;
}

.node {
  background-color: #000000;
  border: 3px double #B3B3B3;
  margin: 0px;


}

.header{
    color: #B5B5B5;
  font-family: "Fixedsys", "Trebuchet MS", sans-serif;
  font-size: 60px;
  margin-left: 10px;
}

.node-main
{

&>*{
      width: 100%;
    height: 100%;

    display:  none;
    background-color: #000000;
    border: none;
    border-right: 3px double #B3B3B3;
    color: #B5B5B5;
    font-family: "Fixedsys", "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
    font-size: 13px;
    line-height: 0.98em;
    outline: none;
    overflow: hidden;
    resize: none;
    text-transform: uppercase;
}

&>div{
  font-size: 9px;padding: 5px 0px;
  @media(max-width:767px){  font-size: 9px;padding: 20px 0px;}
  @media(min-width:768px){  font-size: 9px;padding: 30px 0px;}
  @media(min-width:992px){  font-size: 10px;padding: 40px 0px;}
  @media(min-width:1200px){  font-size: 12px;padding: 40px 0px;}

          
    div {
  @media(max-width:767px){   padding-bottom:7px;}
  @media(min-width:768px){   padding-bottom:8px;}
  @media(min-width:992px){   padding-bottom:9px;}
  @media(min-width:1200px){   padding-bottom:9px;}


      padding-bottom:9px;
      text-align: center;

    }
  }
}

.sidecell {
  color: #B5B5B5;
  cursor: default;
  font-family: "Fixedsys", "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
  text-align: center;

  &:not(.bottom) {
    border-bottom: 3px double #B3B3B3;
  }

  p {
   margin: 0;
   padding-top: 8px;
  }

}



.execnode textarea{
  display: block;
}

.stcknode .stck{
  display: block;
}

.errnode .err{
  display: block;
  color: red;
  border-color: red;
}

.execnode .sidecolumn .exec {
  background-color: #B3B3B3;
  color: #000000;
}

.stcknode
{
 .sidecolumn .stck {
  background-color: #B3B3B3;
  color: #000000;
  }

  textarea {
   text-align: center;
  }
}


.errnode {
   border: 3px solid #A40D0D;

  .sidecolumn .err {
    background-color: #A40D0D;
   color: #000000;
  }

  textarea {
  border-right: 3px solid #A40D0D;
  color: #A40D0D;
  text-align: center;
  }

  .sidecolumn .sidecell {
    color: #B5B5B5;
  }
  .sidecolumn .err {
    color: black;
  }

  .sidecolumn .sidecell:not(.bottom) {
    border-bottom: 3px solid #A40D0D;
  }
}

.double-border-center
{
 

    font-family: "Fixedsys", "Lucida Console", "Lucida Sans Typewriter", "Consolas", monospace;
 margin-bottom: 20px;
    border: 3px double #B3B3B3;
    color: #B5B5B5;
    text-align: center;
 
}

a.tis-button{
  padding-top: 12px;
  color: #B5B5B5;
  text-decoration: none;
  display: block;
}

.tis-button:extend(.double-border-center){
  cursor: default;
  background: black;

  &:hover{
    background: gray;
    cursor: pointer;

  }

}

.tis-button.large{
      min-height: 50px;
}

.tis-button.full-width{
    width:100%;
    
    span{
      vertical-align: middle;
      line-height: 50px;
    }
}


.tis-header-bar:extend(.double-border-center){
border-top: none;
border-radius: 0px;
background-color: #151819;
}

.node-window-drag .drag-overlay{
  position: absolute;
  z-index: 100;
  font-size: 70px;
  color: white;
   display:block;
  text-align:center;
  top: calc(50% - 10px); 
  width: 100%;

  display: block;


}

.errors>*{
  padding-bottom: 5px;
  color: red;
}

.game-title{
  &>*{
     padding-right: 15px;
  }
  h3{
    margin: 0px;
      color:  white;
    display: inline-block;
  }
}

.item-list{
  padding-top: 15px;
}

.output
{
margin-top: -@node-bottom-padding;
margin-bottom: @node-bottom-padding;
}

.input, .output{
  text-align: center;
  color: white;
  &>*{
    color: #1F1F1F;
  }

  &>.active{
    color: #FFFFFF;
  }
}

.votes{
  text-align: center;

}

.item-nested{
  margin-left: 20px !important; 
}

.tis-list-container{
  &>*{
    display: block;
      margin: 10px 0px;
  padding: 6px 0px;
    border-bottom: 3px solid #989898;
    color: #B5B5B5;
    }

&>.hover:hover{
cursor:pointer;
      background-color: #151414;
      text-decoration: none;
      color:#B5B5B5;
}

}


.drag-overlay{
  display: none;
}

.row .scores{
  text-align: center;
  font-size: 20px;
  color: white;
  .value{
    padding: 0px 5px;
  }

}

.problems-list{
  padding-bottom: 20px;
  color:  white;
}

  .login{
    .login-button{
    background: #313131;
    }
    .register-win{
      display: none;
    }
  }

  .register{
    .new-account-button{
     background: #313131; 
    }
    .login-win{
      display: none;
    }
  }
.g-recaptcha{
  margin: 0px auto;
  width: 304px;
  padding-bottom: 10px;
}

.overlay {
  .background{
     position:  fixed;
    z-index: 500;
    width: 100%;
    height:100%;
    left: 0%;
    top: 0%;
    background: rgba(0,0,0,.75);
  }

  .login-window{

  @media(max-width:767px){
    left: 1%;
    width:98%;
  }
  @media(min-width:768px){ 
      left: 10%;
    width:80%;
  }
  @media(min-width:992px){
    left: 20%;
    width:60%;
  }
  @media(min-width:1200px){ 
    left: 35%;
    width:30%;
  }


    position:  absolute;
    z-index: 900;
    top: 10%;
    background:  black;
   border: 1px solid #B3B3B3;
    border-color: white;
    .exit{
      float: right;
      padding:0px 5px 2px 5px;
        border-left: 1px solid white;
    }
    .main-window{
      form>h3,.form-group, .checkbox{
        padding: 0px 9px;
      }

    }
    .top-border{
      width: 100%;
      height: 20px;
      overflow: hidden;
      border-bottom: 1px solid white;
    }
    .row>div{
      margin-bottom: -1px;
      button{
         margin-bottom: 0px;
      }

      padding: 0px;
    }
    .tis-button{
      border: 1px solid white;
    }
  }
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}




.pagination li a{
  background-color: black; 
  border-radius: 0px;
  color: white;
  border-color: white;
  border-radius: 0px !important;
  

}

.pagination>.disabled>a, 
{
  color: #000;
}

.pagination .active a{
  background: #1D1D1D;
      border-color: #FFFFFF;
}
.pagination .active a:hover{
      border-color: #FFFFFF;
}

.stats{
  font-size: 20px;
  .selection{
    position:  absolute;
    left: 50%-5px;
    top: 100%-20px;
    font-size: 10px;
  }
  a{
        color: #8A8A8A;
        text-decoration: none;
  }

  >*{
      position:  relative;
    min-width: 34px;
    text-align: center;
    display: inline-block;
  }
}

.main-header{
  .menu-items{
    overflow: hidden;
  }
  .account{
    text-align: center;
  }
  .menu-items div{
    padding: 0px 5px;
    
    button{
      min-height: 40px;
      margin-bottom: 15px;
    }
  }
}

.tis-text{
  border-radius: 0px;
  background: #040404;
  &:focus{
    box-shadow:none;
  }
}

.error-group{
  margin-bottom: 5px;
}

.simple-alert{
  padding: 0px 0px 0px 0px;
  border:none;
  background:none;
  color: #FF7572;
  margin-bottom:0px;
}


.panel-default{
  border-radius: 0px;
  .panel-heading
  {
    color: #D4D4D4;
    background: #0A0A0A;
  }
  .panel-body
  {
    background: black;
  }
}

.ace_editor { height: 500px; }

footer{
  padding-bottom: 20px;
}

@media(max-width:767px){
.sidecolumn{
    font-size: 5px;
  }
  .node textarea{
    font-size: 8px;
  }
}

@media(min-width:768px){
.sidecolumn{
    font-size: 10px;
  }

  .node textarea{
    font-size: 10px;
  }
}

@media(min-width:992px){
.sidecolumn{
    font-size: 10px;
  }

  .node textarea{
    font-size: 11px;
  }
}


@media(min-width:1200px){
  .sidecolumn{
      font-size: 13px;
  }

  .node textarea{
    font-size: 12px;
  }
}