<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TIS-100 PAD</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/tis100pad.js"></script>
  </head>
  <body>
  <header>TIS-100 PAD</header>
  <p id="levelname"></p>
  <div id="menu">
    <p id="statusmessage"></p>
    <div id="savebutton"><p>SAVE</p></div>
    <div id="downloadbutton"><p>DOWNLOAD SOLUTION</p></div>
    <div id="uploadbutton"><p>UPLOAD SAVE FILE</p><input type="file" accept="text/plain"></div>
    <div id="newbutton"><p>NEW SOLUTION</p></div>
  </div>
  <form id="nodes" action="/download" method="post">
  <input type="submit" id="dlsubmit">
  <input name="levelcode" type="hidden">
  <div class="inout" id="inputrow">
    <p class="ioport inactive">IN&nbsp;&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">IN&nbsp;&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">IN&nbsp;&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">IN&nbsp;&nbsp;&nbsp;<span>&#8681;</span></p>
  </div>
  <div class="row">
    <div class="node execnode">
      <textarea name="@0" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@1" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@2" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@3" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="node execnode">
      <textarea name="@4" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@5" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@6" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@7" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="node execnode">
      <textarea name="@8" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@9" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@10" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
    <div class="node execnode">
      <textarea name="@11" rows="15" cols="18" maxlength="285" wrap="hard" spellcheck="false"></textarea>
      <div class="sidecolumn">
        <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
        <div class="sidecell stck"><p>STCK<br>NODE</p></div>
        <div class="sidecell err"><p>ERR<br>NODE</p></div>
        <div class="sidecell bottom"></div>
      </div>
    </div>
  </div>
  <div class="inout" id="outputrow">
    <p class="ioport inactive">OUT&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">OUT&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">OUT&nbsp;&nbsp;<span>&#8681;</span></p>
    <p class="ioport inactive">OUT&nbsp;&nbsp;<span>&#8681;</span></p>
  </div>
  </form>
  <footer>TIS-100 is ©2015 <a href="http://www.zachtronics.com/tis-100/">Zachtronics LLC</a>. This site is not affiliated with or endorsed by Zachtronics LLC.
          tis100pad.com is released under the MIT License.
          <a href="https://github.com/Triplanetary/tis100pad">View the source on GitHub.</a>
  </footer>
  </body>
</html>
