{% extends "layout.html" %}

{% block app%}ng-app{% endblock %}

{% block title %}Index{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
  {{super()}}
  <div class="container pad">
    <div class="row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4 node">
          <div class="col-xs-8"></div>
          <div class="col-xs-4">
            <div class="sidecell exec"><p>EXEC<br>NODE</p></div>
            <div class="sidecell stck"><p>STCK<br>NODE</p></div>
            <div class="sidecell err"><p>ERR<br>NODE</p></div>
            <div class="sidecell bottom"></div></div>
      </div>
      <div class="col-xs-4">tes</div>
    </div>
    <div class="row">
      <div class="col-xs-4">test</div>
      <div class="col-xs-4">test</div>
      <div class="col-xs-4">tes</div>
    </div>
    <div class="row">
      <div class="col-xs-4">test</div>
      <div class="col-xs-4">test</div>
      <div class="col-xs-4">tes</div>
    </div>
  </div>
{% endblock %}